/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --orange-25: #fff9f5;
  --orange-50: #fff4ed;
  --orange-100: #ffe6d5;
  --orange-200: #ffd6ae;
  --orange-300: #ff9c66;
  --orange-400: #ff692e;
  --orange-500: #ff4405;
  --orange-600: #e62e05;
  --orange-700: #bc1b06;
  --orange-800: #97180c;
  --orange-900: #771a0d;
  --orange-950: #57130a;

  --red-25: #fffbfa;
  --red-50: #fef3f2;
  --red-100: #fee4e2;
  --red-200: #fecdca;
  --red-300: #fda29b;
  --red-400: #f97066;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --red-800: #912018;
  --red-900: #7a271a;
  --red-950: #55160c;

  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-900: #101828;
  --gray-950: #0c111d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  color: var(--gray-600);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange-600);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange-700);
}

/* body {
  min-height: 100%;
} */

h1,
h2,
h3,
h4,
h5 {
  color: var(--gray-900);
}

.list--none {
  list-style-type: none;
}

.list--inline li {
  display: inline-block;
}

.link--no-underline {
  text-decoration: none;
}

/* BUTTONS */
button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.button--sm {
  height: 37px;
  padding: 8px 12px;
  font-size: 14px;
}

.button--md {
  height: 41px;
  padding: 10px 20px;
  font-size: 14px;
}

.button--lg {
  height: 48px;
  padding: 12px 20px;
  font-size: 16px;
}

.button-icon--left i {
  margin-right: 8px;
}

.button-icon--right i {
  margin-left: 8px;
}

.fab {
  background-color: transparent;
}

.fab--xs {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 4px;
  font-size: 12px;
}

.fab--sm {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 14px;
}

.fab--md {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  padding: 10px;
  font-size: 14px;
}

.fab--lg {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  padding: 12px;
  font-size: 16px;
}

.fab--xl {
  border-radius: 100%;
  width: 52px;
  height: 52px;
  padding: 14px;
  font-size: 16px;
}

.fab--white i {
  color: #fff;
}

.fab:hover i {
  color: var(--orange-600);
}

.button--primary {
  color: #fff;
  background-color: var(--orange-600);
}

.button--primary:hover {
  background-color: var(--orange-700);
}

.button--primary:focus {
  outline: 3px solid var(--orange-100);
}

.button--primary:disabled {
  background-color: var(--orange-200);
}

.button--primary i {
  color: #fff;
}

.button--secundary {
  color: var(--orange-700);
  background-color: #fff;
}

.button--secundary:hover {
  color: var(--orange-800);
  background-color: var(--orange-50);
}

.button--secundary:focus {
  color: var(--orange-700);
  background-color: var(--orange-100);
}

.button--secundary:disabled {
  color: var(--gray-300);
  background-color: #fff;
}

.button--secundary i {
  color: var(--orange-700);
}

.button--outline {
  color: var(--gray-700);
  background-color: #fff;
  border: 1px solid var(--orange-300);
}

.button--outline:hover {
  background-color: var(--orange-50);
}

.button--outline:focus {
  background-color: #fff;
  border: 1px solid var(--orange-300);
  outline: 3px solid var(--orange-100);
}

.button--outline:disabled {
  color: var(--gray-300);
  background-color: #fff;
  border: 1px solid var(--orange-200);
}

.button--outline i {
  color: var(--gray-700);
}

/* FORM */
.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;
}

.form-field--inline {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.label {
  color: var(--gray-700);
  font-weight: 500;
}

.hint {
  color: var(--gray-600);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.hint--error {
  color: var(--red-500);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

::placeholder {
  color: var(--gray-500);
}

input:is([type=text], [type=email], [type=password], [type=search]),
select,
textarea {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font: normal 16px/120% "Open Sans", sans-serif;
  color: var(--gray-900);
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  border: 1px solid var(--orange-300);
  box-shadow: 0px 0px 0px 4px var(--orange-100),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  outline: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid var(--red-300);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  outline: none;
}

input:invalid:focus-visible {
  box-shadow: 0px 0px 0px 4px var(--red-100),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input--md {
  padding: 10px 14px;
}

/* BREADCRUMB */
.breadcrumb {
  /* margin: 16px 0; */
  /* margin: 16px 0 32px; */
}

.breadcrumb__link a {
  color: var(--gray-600);
  font-weight: 500;
}

.breadcrumb__link::after {
  content: url(../assets/icons/chevron-right.svg);
  margin: 0 8px;
}

.breadcrumb__link:last-child:after {
  content: none;
}

.breadcrumb__link--active a {
  color: var(--gray-700);
  font-weight: 600;
}

/* BADGES */
.badge {
  font-size: 14px;
  font-weight: 500;

  margin-right: 8px;
  padding: 4px 14px;
  border: 1px solid;
  border-radius: 16px;
  white-space: nowrap;
}

.badge--orange {
  background-color: var(--orange-50);
  border-color: var(--orange-200);
  color: var(--orange-700);
}

/* SEARCHBAR */
.search-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);

  padding: 8px;
}

.search-wrapper__fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
}

.search-wrapper__fields input {
  width: calc(100% - 150px);
  border: none;
  box-shadow: none;
}

:is(.search-wrapper__fields) :is(button, input):focus-visible {
  border: none;
  box-shadow: none;
  outline: none;
}

.search-wrapper__fields button:active {
  border: none;
  box-shadow: none;
  outline: none;
}

.search-wrapper__button--filter,
.search-wrapper__button--submit {
  height: 41px;
  border-radius: 25px;
}

.search-wrapper__button--close {
  display: flex;
  justify-content: end;
}

.search-wrapper__dropdown {
  position: relative;
}

.search-wrapper__filters {
  display: none;
  /* position: absolute;
  top: 64px; */

  margin-top: 8px;

  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
}

.search-wrapper__filters>section {
  margin-bottom: 16px;
}

.category {
  margin: 16px 0 32px;
}

.category__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding-bottom: 16px;
}

/* GENERAL CLASSES */

.section__title {
  color: var(--gray-600);
  margin: 24px 0 16px;
}

.section__subtitle {
  color: var(--gray-600);
  margin-bottom: 8px;
}

/* HERO */

.hero {
  width: 100%;
  height: 400px;
  background: var(--orange-100) url("../assets/images/girl-headphone.jpg") no-repeat center;
  background-size: cover;
  margin: 16px 0 32px;
}

main>section {
  padding: 0 16px;
}

.recent-announcements {
  margin: 16px 0 32px;
}

.recent-announcements__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px 8px;
}

.product-card {
  max-width: calc(50% - 8px);
}

.product-card__thumbnail-wrap {
  padding-top: 100%;
  position: relative;
  background-color: var(--gray-200);
  border-radius: 8px;
}


.product-card__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__image>img {
  width: 80%;
  mix-blend-mode: multiply;
  transition: all .2s ease-in-out;
}

.product-card:hover .product-card__image>img {
  transform: scale(1.1);
}

.product-card__body {
  display: flex;
  flex-wrap: wrap;
}

.product-card__title {
  flex-basis: 100%;
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price {
  flex-basis: 100%;
  /* text-align: end; */
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__description {
  flex-basis: 100%;
  margin: 8px 0;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

hr {
  margin: 16px 0;
  height: 2px;
  background: var(--gray-100);
  border: none;
}

/* BOOTSTRAP CLASSES */
.w-100 {
  width: 100%;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  width: 100vh;
}

.show {
  display: block;
}

.open {
  display: flex !important;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
  width: 100%;
  margin: auto;
  padding: 16px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: var(--gray-50);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 4px;
  max-width: 100%;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  height: 41px;
  color: var(--gray-700);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  color: var(--orange-700);
  background-color: var(--orange-100);
  font-family: 600;
}

.form-field--inline {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form-field--inline .form-field {
  flex: 1;
  margin: 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .container,
  .container-sm {
    width: 540px;
  }

  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl,
  .container-fluid {
    width: 100%;
  }

  .product-card {
    max-width: calc(33% - 8px);
  }
}

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero {
    border-radius: 16px;
  }

  .container,
  .container-sm,
  .container-md {
    width: 720px;
  }

  .container-lg,
  .container-xl,
  .container-xxl,
  .container-fluid {
    width: 100%;
  }

  .radio-inputs {
    width: calc(50% - 8px);
  }
}

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    width: 960px;
  }

  .container-xl,
  .container-xxl,
  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    width: 1140px;
  }

  .container-xxl,
  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 1320px;
  }

  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 1400px) {}