header {
    width: 100%;
    background-color: #fff;
    /* border-bottom: 1px solid #dfe2e1; */
    border-bottom: 1px solid var(--gray-200);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 16px;
}

.navbar__logo {
    margin-right: auto;
    order: 1;
}

.navbar__cta {
    order: 2;
}

.navbar__links {
    display: none;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: auto;
    order: 3;
}

.navbar__link>* {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-600);
    line-height: 1.8;
    padding: 0.5rem;
}

.navbar__link:hover > .link--no-underline,
.link--no-underline:hover > * {
    color: var(--orange-600);
}

.navbar__toggle {
    display: block;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar__cta {
        order: 3;
    }
    .navbar__links {
        order: 2;
        width: max-content;
    }
    .navbar__links {
        flex-direction: row;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar__logo {
        margin-right: 0;
    }

    .navbar__links {
        display: block;
    }

    .navbar__toggle {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}